@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
body,html {
 padding:0;
 margin:0
}
body {
 background-color:#c32732;
 text-align:center;
 padding-left:20px;
 padding-right:20px;
 padding-bottom:50px;
 color:#212529
}

.header-slogan {
 font-size:25px;
 padding:5px;
 font-family:merienda,cursive;
 color:#ffd897
}

.qtext {
 font-size:15pt;
 padding:5px;
 font-family:merienda,cursive;
 color:#ffd897
}
.click {
 position:absolute;
 left:0;
 top:-65px
}
footer {
 background:url(../Images/bg-pattern.png) repeat scroll left top #600119;
 box-shadow:inset 0 17px 61px 0 rgba(206,136,24,.24);
 position:fixed;
 z-index:1000;
 left:0;
 bottom:0;
 padding:2px;
 padding-bottom:1px;
 height:50px;
 width:100%;
 padding-top:10px
}
button.btn {
 margin:0!important
}

a.btn:hover {
 -o-transition-property:none!important;
 -moz-transition-property:none!important;
 -ms-transition-property:none!important;
 -webkit-transition-property:none!important;
 transition-property:none!important;
 -o-transform:none!important;
 -moz-transform:none!important;
 -ms-transform:none!important;
 -webkit-transform:none!important;
 transform:none!important;
 -webkit-animation:none!important;
 -moz-animation:none!important;
 -o-animation:none!important;
 -ms-animation:none!important;
 animation:none!important
}
.left-scroll {
 position:fixed;
 left:0;
 top:0;
 min-height:100%;
 min-width:34px;
 background:transparent url(../images/scroll-img.png) repeat 0 0;
 -webkit-transform:rotate(180deg);
 transform:rotate(180deg);
 font-family:roboto,sans-serif;
 -webkit-animation:10s linear 0s normal none infinite loop-top;
 -moz-animation:10s linear 0s normal none infinite loop-top;
 -ms-animation:10s linear 0s normal none infinite loop-top;
 -o-animation:10s linear 0s normal none infinite loop-top;
 animation:10s linear 0s normal none infinite loop-top
}
.right-scroll {
 position:fixed;
 right:0;
 top:0;
 min-height:100%;
 min-width:34px;
 background:transparent url(../images/scroll-img.png) repeat 0 0;
 font-family:roboto,sans-serif;
 -webkit-animation:10s linear 0s normal none infinite loop-bottom;
 -moz-animation:10s linear 0s normal none infinite loop-bottom;
 -ms-animation:10s linear 0s normal none infinite loop-bottom;
 -o-animation:10s linear 0s normal none infinite loop-bottom;
 animation:10s linear 0s normal none infinite loop-bottom
}
@-webkit-keyframes loop-top {
 from {
  background-position:100% 100%
 }
 to {
  background-position:0 0
 }
}
@-moz-keyframes loop-top {
 from {
  background-position:100% 100%
 }
 to {
  background-position:0 0
 }
}
@-ms-keyframes loop-top {
 from {
  background-position:100% 100%
 }
 to {
  background-position:0 0
 }
}
@-o-keyframes loop-top {
 from {
  background-position:100% 100%
 }
 to {
  background-position:0 0
 }
}
@keyframes loop-top {
 from {
  background-position:100% 100%
 }
 to {
  background-position:0 0
 }
}
@-webkit-keyframes loop-bottom {
 from {
  background-position:0 0
 }
 to {
  background-position:100% 100%
 }
}
@-moz-keyframes loop-bottom {
 from {
  background-position:0 0
 }
 to {
  background-position:100% 100%
 }
}
@-ms-keyframes loop-bottom {
 from {
  background-position:0 0
 }
 to {
  background-position:100% 100%
 }
}
@-o-keyframes loop-bottom {
 from {
  background-position:0 0
 }
 to {
  background-position:100% 100%
 }
}
@keyframes loop-bottom {
 from {
  background-position:0 0
 }
 to {
  background-position:100% 100%
 }
}
#audioPlay {
 display:none
}
